body{
  font-family:tahoma;
}

#test img{
  width: 20%;
}


#test{
  display: flex;
  flex-wrap: wrap;
}

#test article{
  width: 30%;
  text-align:center;
  color: white;
    width: 30%;
    text-align: center;
    margin: 1.6%;
    background: lightslategray;
    border-radius: 5px;
}
