body{
  font-family:tahoma;
}

#cocktails img{
  width: 100%;
}

#cocktailDetail img{
  width: 100%;
}

#cocktails article{
  width: 30%;
  text-align:center;
  color: white;
    width: 24%;
    text-align: center;
    margin: 0.5%;
    background: lightslategray;
    border-radius: 5px;
}

#cocktailFinder{
  display: flex;
}

#cocktailDetail{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  z-index: -1;
}

#cocktails{
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  z-index: -1;
}

#cocktailDetail #detailResults{
  width:50%
}

section[data-route="overview"]{
  position: absolute;
}

section[data-route="detail"]{
  position: absolute;
}

.active {
  opacity: 1 !important;
  z-index: 1 !important;
}
